{% if message %}
    {{ message }}
    <br/>
    <br/>
{% endif %}
<form method="get" action="{% url 'proj_2:aggregator_form' %}">
    <table>
        <tr>
            <td>{{ form.startdate.label_tag }}</td>
            <td>{{ form.startdate}}</td>
        </tr>
        <tr>
            <td>{{ form.enddate.label_tag }}</td>
            <td>{{ form.enddate}}</td>
        </tr>
        <tr>
            <td>{{ form.workers.label_tag }}</td>
            <td>{{ form.workers}}</td>
            <td>{{ form.all_workers.label_tag }}</td>
            <td>{{ form.all_workers }}</td>
        </tr>
        <tr>
            <td>{{ form.tasks.label_tag }}</td>
            <td>{{ form.tasks}}</td>
            <td>{{ form.all_tasks.label_tag }}</td>
            <td>{{ form.all_tasks }}</td>
        </tr>
    </table>
    <input type="submit" value="Agreguj">
</form>
<a href="{% url 'proj_2:index' %}">Strona startowa</a><br/>
{% for w in workers %}
    Pracownik: {{ w.name }}
    Suma ogólna: {{ w.sum_overall }}
    <table>
        <tr>
            <th>Kod czynności</th>
            <th>Liczba wystąpień</th>
            <th>Suma czynności</th>
            <th>Kwota</th>
        </tr>
    {% for t in w.tasks %}
        <tr>
            <td>{{ t.task_code}}</td>
            <td>{{t.count}}</td>
            <td>{{ t.sum_of_count}}</td>
            <td>{{ t.sum}}</td>
        </tr>
    {% endfor %}
    </table>
    <br/>
{% endfor %}

{{ tasks_summary }}
<table>
    <tr>
        <th>Kod czynności</th>
        <th>Liczba wystąpień</th>
        <th>Suma czynności</th>
        <th>Kwota</th>
    </tr>
{% for t in tasks_summary %}
    <tr>
        <td>{{ t }}</td>
        <td>{{ t.task_code }}</td>
        <td>{{ t.count }}</td>
        <td>{{ t.sum_of_count }}</td>
        <td>{{ t.sum }}</td>
    </tr>
{% endfor %}
</table>



































