{% if message %}
    <br/>
   a {{ message }}
    <br/>
{% endif %}
<form>
{#add job form#}
</form>
<table>
    <tr>
        <th>Data</th>
        <th>Pracownik</th>
        <th>Czynność</th>
        <th>Ilość</th>
        <th>Edycja</th>
        <th>Usuń</th>
    </tr>
    {% for j in  jobs %}
    <tr>
        <th>{{ j.date}}</th>
        <th>{{ j.person.name}}</th>
        <th>{{ j.task_code}}</th>
        <th>{{ j.count}}</th>
        <th><a href="{% url 'proj_2:job_edit' j.id %}">edytuj</a></th>
        <th><a href="{% url 'proj_2:job_erase' j.id %}">usuń</a></th>
    </tr>
    {% endfor %}
</table>